In [1]:
# This section enables to use the module code referenced in the repo
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
# Imports for the excercise
import pandas as pd 
import logging
import numpy as np
from arcus.azureml.workenvironment import WorkEnvironment

## Connecting to a local work environment

In [3]:
work_env = WorkEnvironment(connected = False, datastore_path='../tests/resources/datastore')

## Loading partitioned dataframes

In [4]:
partition_df = work_env.load_tabular_partition('stock_AT', columns=['Close', 'High', 'Isin', 'ItemDate', 'Low', 'Market', 'Open', 'Ticker', 'Volume'])

In [5]:
display(partition_df)

,Close,High,Isin,ItemDate,Low,Market,Open,Ticker,Volume
0,18.000,18.060,ATFREQUENT09,2019-05-23 17:35:40.0000000 +00:00,17.800,XETR,18.000,FQT,3950
1,18.000,18.080,ATFREQUENT09,2019-05-24 17:35:53.0000000 +00:00,17.920,XETR,18.000,FQT,3350
2,18.000,18.180,ATFREQUENT09,2019-05-27 17:35:45.0000000 +00:00,17.900,XETR,18.020,FQT,4112
3,18.000,18.200,ATFREQUENT09,2019-05-28 16:45:12.0000000 +00:00,17.900,XETR,17.980,FQT,3982
4,17.960,18.000,ATFREQUENT09,2019-05-29 14:52:51.0000000 +00:00,17.860,XETR,18.000,FQT,2303
5,17.960,17.960,ATFREQUENT09,2019-05-30 14:44:26.0000000 +00:00,17.800,XETR,17.900,FQT,5844
6,18.060,18.060,ATFREQUENT09,2019-05-31 17:35:37.0000000 +00:00,17.800,XETR,17.900,FQT,13868
7,17.940,18.160,ATFREQUENT09,2019-06-03 17:35:45.0000000 +00:00,17.800,XETR,18.000,FQT,9125
8,17.900,17.900,ATFREQUENT09,2019-06-04 15:24:47.0000000 +00:00,17.720,XETR,17.800,FQT,5256
9,17.960,18.000,ATFREQUENT09,2019-06-05 12:48:15.0000000 +00:00,17.800,XETR,17.800,FQT,2069
0,19.878,19.878,AT000AGRANA3,2012-03-27 17:34:19.0000000 +00:00,19.654,XWBO,19.661,AGR,760
1,19.866,20.048,AT000AGRANA3,2012-03-28 17:34:11.0000000 +00:00,19.654,XWBO,19.706,AGR,1048
2,19.999,20.063,AT000AGRANA3,2012-03-29 16:52:24.0000000 +00:00,19.706,XWBO,20.051,AGR,960
3,20.198,20.198,AT000AGRANA3,2012-03-30 15:54:35.0000000 +00:00,20.073,XWBO,20.075,AGR,2328
4,20.198,20.198,AT000AGRANA3,2012-04-02 12:40:18.0000000 +00:00,20.198,XWBO,20.198,AGR,1000
5,20.302,20.302,AT000AGRANA3,2012-04-03 12:21:33.0000000 +00:00,20.196,XWBO,20.196,AGR,1600
6,19.868,20.322,AT000AGRANA3,2012-04-04 10:43:16.0000000 +00:00,19.868,XWBO,20.297,AGR,1416
7,19.952,20.322,AT000AGRANA3,2012-04-05 17:34:27.0000000 +00:00,19.708,XWBO,20.322,AGR,3892
8,19.841,20.317,AT000AGRANA3,2012-04-10 10:34:46.0000000 +00:00,19.841,XWBO,20.317,AGR,608
9,19.903,20.290,AT000AGRANA3,2012-04-11 17:34:27.0000000 +00:00,19.903,XWBO,20.290,AGR,432
0,24.810,25.400,AT000KAPSCH9,2010-03-08 17:34:24.0000000 +00:00,24.400,XWBO,24.490,AT360080,56456
1,26.200,26.200,AT000KAPSCH9,2010-03-09 17:34:29.0000000 +00:00,25.400,XWBO,25.420,AT360080,5411
2,26.550,26.580,AT000KAPSCH9,2010-03-10 17:34:11.0000000 +00:00,25.900,XWBO,25.900,AT360080,30389
3,26.550,26.630,AT000KAPSCH9,2010-03-11 17:27:10.0000000 +00:00,26.010,XWBO,26.010,AT360080,7482
4,27.100,27.130,AT000KAPSCH9,2010-03-12 17:34:11.0000000 +00:00,26.550,XWBO,26.640,AT360080,13941
5,27.170,27.230,AT000KAPSCH9,2010-03-15 17:34:13.0000000 +00:00,26.550,XWBO,26.580,AT360080,3557
6,27.500,27.640,AT000KAPSCH9,2010-03-16 17:26:13.0000000 +00:00,27.200,XWBO,27.200,AT360080,4945
7,26.830,27.640,AT000KAPSCH9,2010-03-17 17:34:28.0000000 +00:00,26.800,XWBO,27.640,AT360080,1585
8,26.750,27.230,AT000KAPSCH9,2010-03-18 17:34:02.0000000 +00:00,26.750,XWBO,27.230,AT360080,1263
9,27.000,27.150,AT000KAPSCH9,2010-03-19 17:34:30.0000000 +00:00,26.400,XWBO,26.990,AT360080,2650